
.registration-grid {
 
  width: 100%;
  }

  .registration-form{
    width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: center;
   align-items: center;

    background-color: yellow;
  }

  .registration-column {
    max-width: 450px;
  }

 .form-container{
      background-color: rgb(154, 14, 14);
    }