.login-form {
  
  height: 100vh;
  display: flex;
  
  justify-content: center;
 align-items: center;

  background-color: yellow;
  }
  
  .login-grid {
    width: 100%;
    height: 100%;
  }
  
  .login-column {
    max-width: 450px;
  }
  
  .login-form h2 {
    margin-top: 2em;
  }
  
  .login-form .ui.segment {
    margin-top: 2em;
  }